@page "/ShoppingList"
@using FirstBlazorApp.Data
<PageTitle>@title</PageTitle>
<h3>ShoppingList</h3>
<input placeholder = "Grocery Name" @bind="groceryName" />
<input placeholder = "Grocery Price" @bind="groceryPrice" />
<button @onclick="AddGrocery">Add Grocery</button>
<ul>
    @foreach (var grocery in groceries)
    {
        <li>@grocery.Name -- @grocery.Price</li>
        
    }
</ul>

<h1>Total (@sum)</h1> 

@code {
    private List<Grocery> groceries = new();
    private float sum = 0;
    private string title = "shop";
    private string groceryName = "";
    private float groceryPrice;
    private void AddGrocery()
    {
        if(!string.IsNullOrWhiteSpace(groceryName)&& groceryPrice > 0)
        {
            groceries.Add(new Grocery
                {
                    Name = groceryName,
                    Price = groceryPrice
                });
                sum += groceryPrice;
                groceryName = string.Empty;
                groceryPrice = 0;
        }
    }
}
